html {
    box-sizing: border-box;
}

.container {
    background-color: #c00025;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    margin-left: 3%;
    height: 100px;
    width: 425px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
}

.App {
    display: flex;
    flex-wrap: wrap;
}

.leftSide {
    width: 75%;
    flex-wrap: wrap;
    flex-direction: column;
}

.rightSide {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.specials, .numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.button {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    color: white;
    border: 1px solid navy;
}

.numberBtn {
    background-color: darkblue;
}

.specialBtn {
    background-color: blue;
}

.operatorBtn {
    background-color: lightskyblue;
}



